*.cache
*.pyc
.env
Backend/testencrypt.py
Backend/token_cache.txt
Frontend/node_modules/*
Frontend/build/*
StatisticsPage/node_modules/*
Backend/node_modules/*
functions/*
package.json
Testing/shaffeblasta.jpg
node_modules/*
Backend/advanced_stats_output.json
package-lock.json
package-lock.json
